template(name='dashboard')
    .ui.stackable.padded.grid
        .centered.row
            .twelve.wide.column
                .ui.header Dashboard
        .centered.row
            .four.wide.column
                
