template(name='dashboard')
    .ui.stackable.padded.grid
        .centered.row
            .twelve.wide.column
                h1.ui.center.aligned.header
                    i.dashboard.icon
                    if is_therapist
                        |Therapist
                    if is_client
                        |Client
                    |Dashboard
        .centered.row
            .twelve.wide.column
                if is_therapist
                    .ui.secondary.segment
                        .ui.header
                            i.grey.newspaper.icon 
                            |Articles
                        .ui.link.large.list
                            each articles
                                a.item(href=link target='_window') #{title}
                if is_client
                    with currentUser
                        .ui.secondary.segment
                            .ui.header 
                                i.clock.icon
                                |Availability
                            +multi_doc_edit key='time_block' ref_type='time_block' label='Time Block'
                            +multi_doc_edit key='time_of_day' ref_type='time_of_day' label='Time of Day'
                            +multi_doc_edit key='day' ref_type='day' label='Day(s)'
                    .ui.header Contact Info
                a.ui.circular.hhblue.button(href="/user/#{currentUser.username}/edit")
                    i.pencil.icon
                    | Edit Profile
                a.ui.circular.hhblue.button(href="/user/#{currentUser.username}")
                    | View Profile
                    i.right.chevron.icon
