template(name='dashboard')
    .ui.stackable.padded.grid
        .centered.row
            .twelve.wide.column
                h1.ui.center.aligned.header
                    i.dashboard.icon
                    if is_therapist
                        |Therapist
                    if is_client
                        |Client
                    |Dashboard
        .centered.row
            .twelve.wide.column
                if is_therapist
                    .ui.header Articles
                    .ui.list
                        each articles
                            .item
                                a(href=link target='_window') #{title}
                if is_client
                    with currentUser
                        .ui.header Availability
                        +single_doc_edit key='time_block' ref_schema='time_block' label='Time Block'
                        +single_doc_edit key='time_of_day' ref_schema='time_of_day' label='Time of Day'
                        +multi_doc_edit key='day' ref_schema='day' label='Day(s)'
                    .ui.header Contact Verbage
                a.ui.circular.hhblue.button(href="/user/#{currentUser.username}/edit")
                    i.pencil.icon
                    | Edit Profile
                a.ui.circular.hhblue.button(href="/user/#{currentUser.username}")
                    | View Profile
                    i.right.chevron.icon
