template(name='footer')
    .ui.inverted.teal.fluid.segment.footer
        .ui.grid
            .four.wide.column
                .ui.header Henry Health
                .ui.small.header Henry Health is an app providing self-care support and mental health services to Black men.
                .ui.small.header © 2019 Henry Health Inc. All rights reserved.


            .four.wide.column
                .ui.center.aligned.basic.segment
                    a(href='https://twitter.com/_toriwebster')
                        i.huge.twitter.link.teal.icon
                    a(href='https://www.instagram.com/_toriwebster/')
                        i.huge.instagram.link.teal.icon
                //- +mailchimp
            .four.wide.column
                .ui.list
                    .item FOLLOW US
                    .item Henry Health Inc.
                    .item 2231 Crystal Drive, Suite 1000
                    .item Arlington, VA, 22202
                    .item Phone: (202) 350-3372


                //- +twitter
                
        .row
            .ui.center.aligned.header
                i.copyright.outline.icon
                |Henry Health
