template(name='home')
    .ui.grid
        img.ui.centered.image(src="{{c.url 'henry_logo'}}")
        .centered.row
            .twelve.wide.column
                a.ui.big.fluid.button(href='/register')
                    |Register
        .centered.row
            .twelve.wide.column
                a.ui.big.fluid.button(href="https://henry-health.com/join-waiting-list/")
                    |Wait List
        .centered.row
            .twelve.wide.column
                .ui.big.fluid.button
                    |Free Consultation
