template(name='home')
    .ui.text.container.grid
        img.ui.centered.image(src="{{c.url 'henry_logo'}}")
        .row
            .ui.big.fluid.button
                |Register
        .row
            a.ui.big.fluid.button(href="https://henry-health.com/join-waiting-list/")
                |Wait List
        .row
            .ui.big.fluid.button
                |Free Consultation
